:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.7px;
  font-weight: 300;

  color: rgba(248, 248, 248, 0.85);
  background: radial-gradient(circle, #00001f 0%, #010101 75%, #020002 100%);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-y: hidden;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  line-height: 4rem;
}
h2 {
  font-size: 1.2rem;
  padding-right: 0.3em;
}
h3 {
  font-size: 1.00rem;
  padding-right: 0.85em;
  font-weight: 500;
}
p {
  font-size: 0.9rem;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 3px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(248, 248, 248, 0.85); 
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(248, 248, 248, 1.00); 
}
